@import url('https://fonts.googleapis.com/css?family=Elsie:100,400,500,900');
.Header {
    background-color: #EE6C4D;
    height: 100px;
    padding: 0.1% 2%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.Header-title {
    font-size: 3.5em;
    font-family: "Elsie", 'Times New Roman', Times, serif;
}

.Header-title i {
    margin-right: 10px;
}

.Header .headerNav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25%;
}

.Header .headerNav a {
    transition: 0.3s ease;
}

.Header .headerNav a:hover {
    color: rgb(223, 255, 65);
}