@import url('https://fonts.googleapis.com/css?family=Elsie:400,900');
.Header {
    background-color: #EE6C4D;
    height: 100px;
    padding: 0.1% 2%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.Header-title {
    font-size: 3.5em;
    font-family: "Elsie", 'Times New Roman', Times, serif;
}

.Header-title i {
    margin-right: 10px;
}