.ImageDisplay {
    padding-top: 9%; 
}

.ImageDisplay section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: scroll;
    width: 80vw;
    height: 95vh;
    justify-content: center;
}

.ImageDisplay img {
    width: 120px;
    box-shadow: 0px 1px 10px #999;
    margin: 10% auto 0;
    display: block;
}

.ImageDisplay .recipeItems {
    margin: 1% 5%;
    text-align: center;
    padding: 1%;
    width: 325px;
    box-shadow: 0px 4px 5px #ccc;
    transition: all .2s ease-in-out;
    background-color: rgba(255, 169, 135, 0.4);
    border-radius: 10%;
    border: 4px double #fff;
    font-family: "Elsie";
    font-size: 1.3em;
    letter-spacing: 1px;
}

.ImageDisplay .recipeItems:nth-child(3n-1) {
    background-color: rgba(53, 163, 177, 0.3);
}

.ImageDisplay .recipeItems:nth-child(3n-3) {
    background-color: rgba(195, 49, 73, 0.2);
}

.ImageDisplay .recipeItems:hover {
    background-color: rgba(196, 232, 18, 0.424);
}

.ImageDisplay .ingredients {
    text-transform: capitalize;
    list-style: inside;
}

.ImageDisplay i {
    margin: 5% 0;
    color: #fff;
    transition: all .3s ease-in-out;
    text-shadow: 1px 1px 5px #888;
}

.ImageDisplay i:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.ImageDisplay .tooltip {
    position: relative;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    margin: 0 auto;
}

.ImageDisplay .tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 25px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    z-index: 100;
    left: 41%;
    margin-left: -100px;
    opacity: 0;
    font-family: "Varela Round", Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7em;
    font-weight: 100;
    transition: opacity 0.4s;
}

.ImageDisplay .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    line-height: 1;
}