.SearchBar {
    width: 100%;
    background-color: rgba(23, 163, 151, 0.826);
    box-shadow: 1px 3px 12px #aaa;
}

.SearchBar form {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 0.5% 0;
}

.SearchBar input[type=text] {
    padding: 0.5%;
    width: 70%;
}

.SearchBar input[type=button] {
    padding: 0.5%;
    cursor: pointer;
}