.Login {
    margin: 5%;
}

.Login .form-module {
    position: relative;
    background: #ffffff;
    width: 30%;
    min-width: 500px;
    padding: 1% 5%;
    border-top: 5px solid #17A398;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.Login .form-module .form {
    display: none;
    padding: 40px;
}

.Login .form-module .form:nth-child(2) {
    display: block;
}

.Login .form-module h2 {
    color: #17A398;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin: 5% 0;
    text-align: center;
}

.Login .form-module input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.Login .form-module input:focus {
    border: 1px solid #17A398;
    color: #333333;
}

.Login .form-module button {
    cursor: pointer;
    background: #17A398;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.Login .form-module button:hover {
    background: rgb(18, 129, 120);
}

.Login .form-module .toggle {
    cursor: pointer;
    position: absolute;
    top: -0;
    right: -0;
    background: #17A398;
    width: 30px;
    height: 30px;
    margin: -5px 0 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.Login .form-module .toggle .tooltip {
    position: absolute;
    top: 0;
    left: 35px;
    right: -100px;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: auto;
    padding: 5px;
    font-size: 14px;
    line-height: 1;
}

.Login .form-module .toggle .tooltip:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -5px;
    display: block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.6);
}